*,
*::after,
*::before {
  //   set font-size to 10px so rem is easy to calc.
  font-size: 15px;
  // setting box-sizing to inherit so that it will inherit what we set box-sizing to on body, ie border-box
  box-sizing: inherit;
}

body {
  font-family: "Kalam", cursive;
  background-color: rgba(10, 30, 34, 0.39);
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 0;
}
h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
}
#Card-category {
  color: rgb(29, 93, 29);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 0;
}

.App-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fun-img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 5px;
}
#App-title {
  animation: moveInLeft 1.5s ease-in-out;
}

//TopicSelect Component Styles

.TopicSelect-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TopicSelect-spring-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#TopicSelect-dropdown {
  padding: 10px 5px;
  border-radius: 5px;
  &:hover {
    color: pink;
    background-color: black;
  }
}

.TopicSelect-options {
}

//Card Component Styles
.Card-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Card-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    // color: red;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
  }
}

#Card-q-btn {
  margin-top: 1rem;
  background: #fff;
  border: 3px solid rgba(164, 164, 190, 0.582);
  border-radius: 5px;
  cursor: pointer;
}
.easy {
  color: green;
}
.medium {
  color: blue;
}
.hard {
  color: red;
}

//Styling Sweetalert2
.swal2-popup {
  color: pink;
  font-size: 30px;
}

//Answer Component
.Answer-list {
  list-style: none;
}

.Answer-btn {
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 5px;
  margin: 10px 0;
  &:hover {
    background: rgba(80, 196, 231, 0.952);
    padding: 10px;
  }
}
// Creating animation with keyframes, will replace with react-spring
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  //we want the element to shoot past the end point before coming back to end position
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
